:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Montserrat: 'Montserrat', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
}

.container {}

.card {
    width: 600px;
    height: 450px;
}

.card-img {
    /* max-width: 345px; */
}

.card-trademark {}

.card-title {}

.card-desc {}

.card-price {}

.card-price_big {}

.card-price_small {}

.card-btn {}

.icon-card {}


/*RESPONSIVE*/

@media screen and (max-width: 739px) {
    body {}
    .container {}
    .card {}
    .card-img {
        max-width: 345px;
    }
    .card-trademark {}
    .card-title {}
    .card-desc {}
    .card-price {}
    .card-price_big {}
    .card-price_small {}
    .card-btn {}
    .icon-card {}
}